menuentry "quack 640x480x16" {
	multiboot /boot/kernel.elf
	set gfxpayload=640x480x16
	boot
}

menuentry "quack 640x480x24" {
	multiboot /boot/kernel.elf
	set gfxpayload=640x480x24
	boot
}

menuentry "quack 640x480x32" {
	multiboot /boot/kernel.elf
	set gfxpayload=640x480x32
	boot
}

menuentry "quack 800x600x16" {
	multiboot /boot/kernel.elf
	set gfxpayload=800x600x16
	boot
}

menuentry "quack 800x600x24" {
	multiboot /boot/kernel.elf
	set gfxpayload=800x600x24
	boot
}

menuentry "quack 800x600x32" {
	multiboot /boot/kernel.elf
	set gfxpayload=800x600x32
	boot
}

menuentry "quack 1024x768x16" {
	multiboot /boot/kernel.elf
	set gfxpayload=1024x768x16
	boot
}

menuentry "quack 1024x768x24" {
	multiboot /boot/kernel.elf
	set gfxpayload=1024x768x24
	boot
}

menuentry "quack 1024x768x32" {
	multiboot /boot/kernel.elf
	set gfxpayload=1024x768x32
	boot
}

menuentry "quack custom resolution" {
	multiboot /boot/kernel.elf
	echo "Enter resolution:"
	read gfxpayload
	boot
}